xrandr --output LVDS-1 --set "scaling mode" "Full"

numlockx &
xbindkeys -f $HOME/.config/xbindkeys/config &
dunst -conf $HOME/.config/dunst/dunstrc &

mpd &
mpdscribble --conf $HOME/.config/mpdscribble/mpdscribble.conf &

#xwallpaper --zoom /usr/share/backgrounds/arch-linux-2d/Arch1.jpg &
xwallpaper --zoom $HOME/Pictures/paintings/William_Richards-Surf_On_Rocks_1890s.jpg &
$HOME/.local/scripts/dwm-statusbar.sh &
xcompmgr &

nm-applet &
blueman-applet &

$HOME/.local/scripts/battery-brighness.sh &

# turning off the monitor when not using it
xset +dpms
xset s blank
xset s on

systemctl --user import-environment DISPLAY XAUTHORITY
