xrandr --output LVDS-1 --set "scaling mode" "Full"

numlockx &
xbindkeys -f $HOME/.config/xbindkeys/config &
dunst &

mpd &
mpdscribble --conf $HOME/.config/mpdscribble/mpdscribble.conf &

#xwallpaper --zoom /usr/share/backgrounds/arch-linux-2d/Arch1.jpg &
xwallpaper --zoom $HOME/Pictures/paintings/William_Richards-Surf_On_Rocks_1890s.jpg &
$HOME/.local/scripts/dwm-statusbar.sh &
xcompmgr &

nm-applet &
blueman-applet &

xset -dpms
xset s noblank
xset s off
